# Restaurant Record Analyze Project:

### Project Objective:

Task 1: Locate most popular dishes.

Task 2: Busiest order times.

Task 3: Opportunities to streamline operations.

### Importing the Orders File:

In [2]:
import pandas as pd
orders_df = pd.read_csv("orders.csv", parse_dates=["order_timestamp"])
orders_df.head(10)

      order_timestamp  order_details_id  order_id  item_id
0 2023-01-01 11:38:00                 1         1    109.0
1 2023-01-01 11:57:00                 2         2    108.0
2 2023-01-01 11:57:00                 3         2    124.0
3 2023-01-01 11:57:00                 4         2    117.0
4 2023-01-01 11:57:00                 5         2    129.0
5 2023-01-01 11:57:00                 6         2    106.0
6 2023-01-01 12:12:00                 7         3    117.0
7 2023-01-01 12:12:00                 8         3    119.0
8 2023-01-01 12:16:00                 9         4    117.0
9 2023-01-01 12:21:00                10         5    117.0

In [3]:
orders_df.tail(10)

          order_timestamp  order_details_id  order_id  item_id
12224 2023-03-31 21:58:00             12225      5367    119.0
12225 2023-03-31 21:58:00             12226      5368    101.0
12226 2023-03-31 21:58:00             12227      5368    128.0
12227 2023-03-31 21:58:00             12228      5368    113.0
12228 2023-03-31 21:58:00             12229      5368    118.0
12229 2023-03-31 22:05:00             12230      5369    109.0
12230 2023-03-31 22:05:00             12231      5369    129.0
12231 2023-03-31 22:05:00             12232      5369    120.0
12232 2023-03-31 22:05:00             12233      5369    122.0
12233 2023-03-31 22:15:00             12234      5370    122.0

In [4]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12234 entries, 0 to 12233
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_timestamp   12234 non-null  datetime64[ns]
 1   order_details_id  12234 non-null  int64
 2   order_id          12234 non-null  int64
 3   item_id           12097 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 382.4 KB